.hero-image {
  position: absolute;
  width: 100vw;
  top: 50px;
  bottom: 700px;
  left: 0;
  right: 0;
  background-image: url("./Screen\ Shot\ 2021-05-21\ at\ 5.24.02\ PM.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  min-height: 70%;
}

.hero-section {
  width: 50vw;
  height: 70vh;
  right: 0;
  background-color: rgba(255, 0, 0, 0.296);
  position: fixed;
}