.home-container {
  display: flex;
  flex-direction: column;
  height: 200vh;
  justify-content: space-between;
}

.hero-image {
  /* position: absolute; */
  width: 100vw;
  height: 80vh;
  top: 50px;
  bottom: 700px;
  left: 0;
  right: 0;
  background-image: url("./grill.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center; 
  min-height: 50%;
}

.hero-section {
  width: 35vw;
  height: 60vh;
  right: 60px;
  /* background-color: rgb(4 100 156 / .42); */
  background-color: white;
  position: absolute;
  top: 15vh;
}

.hero-section h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 60px;
}

.content2 {
  background-image: url("./kabab.jpg") ;
  height: 40vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  height: 20vh;
  width: 100vw;
  position: relative;
  background-color: #e2e3f0;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / .19);
}

.signup-form-container, .profile-wrapper {
  top: 70px;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.signin-form {
  display: flex;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.signup-img {
  background-image: url("./signup.jpg") ;
  width: 50vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.user-info {
  height: 300px;
  width: 300px;
  margin: 300px auto;
}