.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: fixed;
  width: 100vw;
  z-index: 33;
}

.white {
  background-color: #e2e3f0;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / .19);
}

.nav-left-links {
  display: flex;
  justify-content: space-between;
  width: 200px;
  position: absolute;
  left: 20px;
}

.nav-right-links {
  position: absolute;
  right: 20px;
}

.header-nav-logo {
  font-size: 40px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}

.header-dropdown {
  width: 240px;
  height: 100px;
  background-color: white;
  position: absolute;
  right: 1px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / .19);
}

.header-dropdown-screen {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-dropdown > * {
  padding: 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header-dropdown > *:hover {
  background-color: lightslategray;
  color: white;
}

#user-icon {
  background-image: url("./user.png") ;
  width: 40px;
  height: 40px;
  background-size: contain;
  cursor: pointer;
}

.true {
  display: flex;
}

strong {
  font-weight: 600;
}